<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Pannello di controllo</title>
</head>
<body>
    
    <form action="#" th:action="@{/admin/nuova_officina}" th:object="${shop}" method="post">
        <p>Nome shop <input type="text" th:field="*{nome}"/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
            
</body>
</html>