<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Login Cliente</title>
    </head>
    <body>
        <h2>Crea nuovo ordine</h2>

        <div>
        </div>

        <form th:action="@{/dipendente/aggiungi_ordine}" th:object="${ordine}" method="post" style="max-width: 400px; margin: 0 auto;">
            <div th:each="ordine_input_field, index : ${fields}">
                <label th:for="${ordine_input_field.getNome()}" th:text="${ordine_input_field.getDescrizione()}"></label><br>
                <div th:if="${ordine_input_field.getTipo()} == 'dropdown'"> 
                    <select th:field="*{__${ordine_input_field.getNome()}__}" required>
                        <option th:each="keyidpair : ${dropdowns.get(ordine_input_field.getNome())}" th:value="${keyidpair.getId()}" th:text="${keyidpair.getKey()}"></option>                        
                    </select>
                </div>
                <div th:if="${ordine_input_field.getTipo()} != 'dropdown' and ${ordine_input_field.getRequired()} == 'false'">
                    <input th:type="${ordine_input_field.getTipo()}" th:value="*{__${ordine_input_field.getNome()}__}" th:field="*{__${ordine_input_field.getNome()}__}"/>
                </div>
                <div th:if="${ordine_input_field.getTipo()} != 'dropdown' and ${ordine_input_field.getRequired()} == 'true'">
                    <input th:type="${ordine_input_field.getTipo()}" th:value="*{__${ordine_input_field.getNome()}__}" th:field="*{__${ordine_input_field.getNome()}__}"required/>
                </div>
                <br><br>
            </div>
            <input type="submit" value="Salva dati" />
        </form>
        <a th:href="@{/dipendente/home}">Annulla</a>
    </body>
</html>