<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Spring Boot Thymeleaf Application - Form Samples - Inputs</title>
    </head>
    <body>

        <form th:action="@{/api/registrati}" method="post">
            <label for="name">Nome:</label>
            <input type="text" name="name" th:field="*{nome}" placeholder="string"/>
            <label for="username">Username:</label>
            <input type="text" name="username" th:field="*{username}" placeholder="string"/>
            <label for="password">Password:</label>
            <input type="password" name="password" th:field="*{password}" placeholder="string"/>
            <input type="submit" value="Registrati" />
        </form>

    </body>
</html>